.zoom {
  padding: 30px;
  transition: transform 0.2s;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.5);
}
a {
  text-decoration: none;
}
table {
  border-collapse: collapse;
}
td {
  margin: 5px;
  padding: 5px;
}
body {
  margin-left: 15%;
  margin-right: 15%;
}
.justifyText {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
}
#header {
  margin: auto;
  width: 500px;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
.nav li a {
  background-color: #9E9E9E;
  color: #000000;
  padding: 30px 20px;
  display: block;
}
.nav li ul {
  display: none;
  position: absolute;
  min-width: 121px;
}
.nav li ul li {
  position: relative;
}
.nav li ul li ul {
  visibility: hidden;
  top: 0px;
  left: 5px;
}
.nav li:hover ul {
  display: block;
}
.nav > li {
  float: left;
}
.nav > li a:hover {
  background-color: #535353;
}
.row {
  margin-left: -5px;
  margin-right: -5px;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
